fastapi==0.95.*
python-multipart
uvicorn[standard]==0.22.*
python-multipart==0.0.*
tqdm

python-dotenv
mysqlclient
sqlalchemy
whoosh

PyPDF2
python-docx

faster_whisper
pytesseract==0.3.*
langchain
langchain-community
tiktoken